{% extends "app/main.html" %}
    {% block content %}
    <div class="title"><p>Подробное описание услуги</p></div>
    <div class="content">
        <div class="job">
            <img src="{% url 'db_file_storage.get_file' %}?name={{ job.picture }}" />
            <div class="info">
                <div class="title"><p>{{job.name}}</p></div>
                <div class="price"><p>Цена: {{job.price}} <i style="color: #00bfa5;font-size: 8pt;" class="fas fa-ruble-sign"></i></p></div>
                <div class="info"><p>{{job.info}}</p></div>
            </div>
            
        </div>
    </div>
    <div class="full-description"><p>{{job.full_description}}</p></div>
  
{% endblock content %}